.effect {
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  filter: sepia(0.5);
  box-shadow: 0 0 150px black inset;
}

.overlay {
  height: 100%;
  filter: blur(0.5px) drop-shadow(0 0 0 #c9c7c7);
}

.overlay:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    90deg,
    #0002 0 2px,
    transparent 4px 35vmin
  );
  animation: vlines 0.45s steps(1) infinite;
}

@keyframes vlines {
  0%,
  100% {
    transform: translateX(0);
    opacity: 0.5;
  }
  10% {
    transform: translateX(-1%);
  }
  20% {
    transform: translateX(1%);
  }
  30% {
    transform: translateX(-2%);
    opacity: 0.75;
  }
  40% {
    transform: translateX(3%);
  }
  50% {
    transform: translateX(-3%);
    opacity: 0.5;
  }
  60% {
    transform: translateX(8%);
  }
  70% {
    transform: translateX(-3%);
  }
  80% {
    transform: translateX(10%);
    opacity: 0.25;
  }
  90% {
    transform: translateX(-2%);
  }
}

.overlay:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='turbulence' baseFrequency='0.8' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  animation: grains 0.5s steps(1) infinite;
}

@keyframes grains {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-1%, -1%);
  }
  20% {
    transform: translate(1%, 1%);
  }
  30% {
    transform: translate(-2%, -2%);
  }
  40% {
    transform: translate(3%, 3%);
  }
  50% {
    transform: translate(-3%, -3%);
  }
  60% {
    transform: translate(4%, 4%);
  }
  70% {
    transform: translate(-4%, -4%);
  }
  80% {
    transform: translate(2%, 2%);
  }
  90% {
    transform: translate(-3%, -3%);
  }
}
